* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Variables
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.column {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn1 {
  background-color: #7971e9;
  color: #f9f8ff;
  padding: 10px 30px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn1:hover {
  background-color: #7971e9c5;
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.btn2 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #293942;
  border: 2px solid #7971e9;
  color: #7971e9;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn2:hover {
  border: 2px solid #7971e9c5;
  color: #f9f8ff;
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

h1 {
  color: #f9f8ff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: calc(2.5rem + 0.5vw + 0.5vh);
}

h2 {
  color: #f9f8ff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: calc(1.7rem + 0.4vw + 0.4vh);
}

h3 {
  color: #f9f8ff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: calc(1.3rem + 0.3vw + 0.3vh);
}

p {
  color: #f9f8ff94;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: calc(1.2rem + 0.2vw + 0.2vh);
}

.footerP {
  color: #f9f8ff94;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: calc(0.9rem + 0.1vw + 0.1vh);
}

/*
-
-
-
-
Start Of Landing page
-
-
-
*/
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Navigation Bar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
nav {
  min-height: 10vh;
  background-color: #293942;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #f9f8ff;
}

nav .navCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navCol .leftNav img {
  width: 100%;
  cursor: crosshair;
}

nav .navCol .rightNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

nav .navCol .rightNav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

nav .navCol .rightNav ul li a {
  color: #f9f8ff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .navCol .rightNav ul li a:hover {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
  color: #f9f8ff94;
}

nav .navCol .rightNav ul li a:focus, nav .navCol .rightNav ul li a:active {
  color: #7971e9;
}

@media (max-width: 1000px) {
  nav .navCol .rightNav ul {
    display: none;
  }
}

nav .navCol .rightNav .signBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

nav .navCol .rightNav .signBtns .trigger {
  border-style: none;
  font-size: 1.8rem;
  background-color: #293942;
  color: #7971e9;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  nav .navCol .rightNav .signBtns .trigger {
    display: block;
  }
}

@media (max-width: 640px) {
  nav .navCol .rightNav .signBtns .btn1,
  nav .navCol .rightNav .signBtns .btn2 {
    display: none;
  }
}

/*
Trigger Menu
*/
.menuContainer {
  background-color: #293942;
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menuContainer .closeBtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
  color: #7971e9;
}

.menuContainer .closeBtn:focus {
  color: #f9f8ff;
}

.menuContainer ul {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.menuContainer ul li {
  padding: 0 0 5px 0;
}

.menuContainer ul li a {
  padding: 20px;
  text-decoration: none;
  font-size: 36px;
  color: #f9f8ff;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-weight: 600;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menuContainer ul li a:hover {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
  color: #f9f8ff94;
}

.menuContainer ul li a:focus, .menuContainer ul li a:active {
  color: #7971e9;
}

.menuContainer .signBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Hero Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.hero {
  background-color: #1b262c;
  min-height: 75vh;
  background-image: url(/images/heroBg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .heroCol .heroLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 2rem;
}

.hero .heroCol .heroLeft a {
  width: 145px;
}

@media (max-width: 1400px) {
  .hero .heroCol .heroLeft {
    background-color: #1b262c;
    border-radius: 4px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5%;
    -webkit-box-shadow: #7971e9 5px 5px 100px -50px;
            box-shadow: #7971e9 5px 5px 100px -50px;
  }
}

/*
Hero Footer
*/
.heroFooter {
  background-color: #293942;
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroFooter .heroFooterCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heroFooter .heroFooterCol .splide__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.heroFooter .heroFooterCol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0% auto;
}

.heroFooter .heroFooterCol img {
  cursor: crosshair;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Stream Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.stream {
  background-color: #1b262c;
  min-height: 100vh;
}

.stream .streamCol {
  /*
        Stream Top
        */
}

.stream .streamCol .streamTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 75px 0;
  gap: 5rem;
}

.stream .streamCol .streamTop .streamTopLeft {
  max-width: 800px;
}

@media (max-width: 1715px) {
  .stream .streamCol .streamTop .streamTopLeft {
    margin: 0 auto;
  }
}

.stream .streamCol .streamTop .streamTopLeft ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stream .streamCol .streamTop .streamTopLeft ul li {
  margin: 0.5rem;
  cursor: crosshair;
}

.stream .streamCol .streamTop .streamTopLeft ul li img {
  width: 100%;
}

.stream .streamCol .streamTop .streamTopRight {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 2rem;
}

@media (max-width: 1715px) {
  .stream .streamCol .streamTop .streamTopRight {
    margin: 0 auto;
  }
}

.stream .streamCol .streamTop .streamTopRight p {
  max-width: 650px;
}

.stream .streamCol .streamTop .streamTopRight a {
  color: #7971e9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.stream .streamCol .streamTop .streamTopRight a:hover {
  color: #7971e9c5;
}

.stream .streamCol .streamTop .streamTopRight a span {
  font-size: 35px;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.stream .streamCol .streamTop .streamTopRight a span:hover {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
  color: #7971e9c5;
}

.stream .streamBottomBg {
  -webkit-box-shadow: inset 0px 30px 20px rgba(26, 26, 26, 0.25);
          box-shadow: inset 0px 30px 20px rgba(26, 26, 26, 0.25);
}

.stream .streamBottomBg .streamCol {
  /*
        Stream Bottom
        */
}

.stream .streamBottomBg .streamCol .streamBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0;
  gap: 5rem;
}

.stream .streamBottomBg .streamCol .streamBottom .streamBottomLeft {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 2rem;
}

@media (max-width: 1715px) {
  .stream .streamBottomBg .streamCol .streamBottom .streamBottomLeft {
    margin: 0 auto;
  }
}

.stream .streamBottomBg .streamCol .streamBottom .streamBottomLeft p {
  max-width: 650px;
}

.stream .streamBottomBg .streamCol .streamBottom .streamBottomLeft a {
  color: #7971e9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stream .streamBottomBg .streamCol .streamBottom .streamBottomLeft a span {
  font-size: 35px;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.stream .streamBottomBg .streamCol .streamBottom .streamBottomLeft a span:hover {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
  color: #7971e9c5;
}

.stream .streamBottomBg .streamCol .streamBottom .streamBottomRight {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 1715px) {
  .stream .streamBottomBg .streamCol .streamBottom .streamBottomRight {
    margin: 0 auto;
  }
}

.stream .streamBottomBg .streamCol .streamBottom .streamBottomRight ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.stream .streamBottomBg .streamCol .streamBottom .streamBottomRight img {
  width: 100%;
  cursor: crosshair;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Footer Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.footer {
  background-color: #1b262c;
  -webkit-box-shadow: inset 0px 30px 20px rgba(26, 26, 26, 0.25);
          box-shadow: inset 0px 30px 20px rgba(26, 26, 26, 0.25);
  min-height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footerCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
  padding: 75px 0;
}

@media (max-width: 1715px) {
  .footer .footerCol h2 {
    margin: 0 auto;
  }
}

.footer .footerCol .footerList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

@media (max-width: 1715px) {
  .footer .footerCol .footerList .footerListLeft {
    margin: 0 auto;
  }
}

.footer .footerCol .footerList .footerListLeft ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2rem;
}

@media (max-width: 1715px) {
  .footer .footerCol .footerList .footerListLeft ul {
    margin: 0 auto;
  }
}

.footer .footerCol .footerList .footerListLeft ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2rem;
  max-width: 750px;
}

.footer .footerCol .footerList .footerListLeft ul li h3 {
  border-left: 2px solid #7971e9;
  padding-left: 10px;
  padding-left: 20px;
}

@media (max-width: 1715px) {
  .footer .footerCol .footerList .footerListRight {
    margin: 0 auto;
  }
}

.footer .footerCol .footerList .footerListRight ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2rem;
}

@media (max-width: 1715px) {
  .footer .footerCol .footerList .footerListRight ul {
    margin: 0 auto;
  }
}

.footer .footerCol .footerList .footerListRight ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2rem;
  max-width: 750px;
}

.footer .footerCol .footerList .footerListRight ul li h3 {
  border-left: 3px solid #7971e9;
  padding-left: 20px;
}

/*
Footer Body
*/
.footerBody {
  background-color: #293942;
  min-height: 45vh;
  padding: 75px 0;
}

.footerBody .footerBodyCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.footerBody .footerBodyCol .footerBodyLeft {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

@media (max-width: 1715px) {
  .footerBody .footerBodyCol .footerBodyLeft {
    margin: 0 auto;
  }
}

.footerBody .footerBodyCol .footerBodyLeft img {
  cursor: crosshair;
}

.footerBody .footerBodyCol .footerBodyLeft .footerP {
  max-width: 500px;
}

.footerBody .footerBodyCol .footerBodyRight {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1715px) {
  .footerBody .footerBodyCol .footerBodyRight {
    margin: 0 auto;
  }
}

@media (max-width: 570px) {
  .footerBody .footerBodyCol .footerBodyRight {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    gap: 2rem;
  }
}

.footerBody .footerBodyCol .footerBodyRight ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  list-style-type: none;
  gap: 2rem;
  padding: 0 35px 0 0;
}

.footerBody .footerBodyCol .footerBodyRight ul li h3 {
  color: #f9f8ff94;
}

.footerBody .footerBodyCol .footerBodyRight ul li .footerP {
  color: #f9f8ff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footerBody .footerBodyCol .footerBodyRight ul li .footerP:hover {
  color: #f9f8ff94;
}

/*
Footer Footer
*/
.footerFooter {
  background-color: #1b262c;
  min-height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerFooter .footerFooterCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.footerFooter .footerFooterCol a {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footerFooter .footerFooterCol a:hover {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
  color: #7971e9c5;
}

.footerFooter .footerFooterCol img {
  width: 100%;
  max-width: 20px;
}

/*
-
-
-
-
End Of Landing page
-
-
-
*/
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Pop Up Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content */
}

.modal .modal-content {
  background-color: #293942;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* The Close Button */
}

.modal .modal-content .close {
  color: #f9f8ff;
  font-size: 28px;
  font-weight: bold;
  padding: 0 0 75px 0;
}

.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  color: #f9f8ff94;
  text-decoration: none;
  cursor: pointer;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Sign In/Up Form
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
form {
  width: 65%;
  max-width: 450px;
  margin: 0 auto;
}

.form--hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: green;
}

.form__message--error {
  font-family: Arial, Helvetica, sans-serif;
  color: #cc3535;
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: none;
  outline: none;
  background: #eeeeee;
  -webkit-transition: background 0.2s, border-color 0.2s;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: #7971e9;
  background: #ffffff;
}

.form__input--error {
  color: #cc3535;
  border-color: #cc3535;
  font-family: Arial, Helvetica, sans-serif;
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: #cc3535;
  font-family: Arial, Helvetica, sans-serif;
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  background: #7971e9;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form__button:hover {
  background: #7971e9c5;
}

.form__button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.bottomText {
  padding: 50px 0;
}

.form__link {
  color: #f9f8ff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form__link span {
  color: #7971e9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form__link span:hover {
  text-decoration: underline;
  color: #7971e9c5;
}

.form__link:hover {
  color: #f9f8ff94;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Loader
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.spinner-wrapper {
  width: 100%;
  height: 100%;
  background-color: #151515;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spinner {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #7971e9), color-stop(70%, #293942));
  background-image: linear-gradient(90deg, #7971e9 50%, #293942 70%);
  -webkit-animation: spin 0.5s infinite linear;
          animation: spin 0.5s infinite linear;
}

.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinner-wrapper.hidden {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
